<%- include('partials/header.ejs') %>
 

<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">About us</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">This blog is part of a project to demonstrate the use of Node.JS with EJS. This project will give me a hands on experience on how to implement these things and to search for useful components in the npm. I hope anyone that will see this website can provide their feedback and help me point out the things that I need to improve on this activity. </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 30vh;">
    <div class="container px-5">
      <img src="images/pc.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>