<%- include('partials/header.ejs') %>



<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
  <div class="col">
  </div>

  <div class="col">
    <div class="container my-5">
      <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis">Forgot Password</h1>
    
        <form class="p-4 p-md-6 border rounded-3 bg-body-tertiary">
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Enter a new password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Confirm new password</label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Change password</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col">

</div>





<%- include('partials/footer.ejs') %>